<h1>Books#index</h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= link_to book.name, book %>
    </li>
    <li>
      <%= book.photo %>
    </li>
    <li>
      <%= book.describtion %>
    </li>
    <li>
      <%= book.created_at %>
    </li>
  <% end %>
</ul>
