<h1>Books#index</h1>
<ul>
  <% @books.each do |book| %>
    <li>
      <%= book.name %>
    </li>
    <li>
      <%= book.photo %>
    </li>
    <li>
      <%= book.describtion %>
    </li>
    <li>
      <%= book.created_at %>
    </li>
  <% end %>
</ul>
